language: python

services:
 - redis-server

python:
  - "2.7"
  - "3.2"
  - "3.3"
# command to install dependencies
install:
  - "pip install httmock"
  - "pip install freezegun"
  - "pip install coveralls"
  - "python setup.py install"
# command to run tests
script:
  nosetests --with-coverage --cover-package=snowplow_tracker
after_success:
  coveralls
