language: python
python:
  - "2.7"
  - "3.3"
# command to install dependencies
install:
  - "pip install python-dateutil"
  - "pip install httmock"
  - "pip install freezegun"
  - "pip install -r requirements.txt"
# command to run tests
script: nosetests snowplow_tracker
